{% extends "base.html" %}
{% block content %}
    <div>
        <p>Name: {{member.first_name}}  {{member.second_name}}</p>
        <p>Date of Birth: {{member.date_of_birth}}</p>
        <p>Contact Number: {{member.contact_number}}</p>
        <p>Email: {{member.email_address}}</p>
        <p>Experience: {{member.experience}}</p>
        <p>Membership Level: {{member.membership_level}}</p>
        <p>Active Status: {{member.active_status}}</p>


        <form action="/members/{{member.id}}/edit">
            <button type="submit">Edit</button>
        </form>

{% endblock %}