{% extends "base.html" %}
{% block content %}
    <div id="show">
        <h2>{{member.first_name}}  {{member.second_name}}</h2>
        <br>
        <p>Date of Birth:&nbsp {{member.date_of_birth}}</p>
        <p>Contact Number:&nbsp {{member.contact_number}}</p>
        <p>email:&nbsp {{member.email_address}}</p>
        <p>Experience:&nbsp {{member.experience}}</p>
        <p>Membership Level:&nbsp <span style="text-transform: capitalize;">{{member.membership_level}}</span></p>
        <p>Active Status:&nbsp {{member.active_status}}</p>
        <br>
        <form action="/members/{{member.id}}/edit">
            <button type="submit">Edit</button>
        </form>
    </div>
{% endblock %}