{% extends "base.html" %}

{% block content %}
<div id="edit_form">
<form action="/activities/{{activity.id}}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" value="{{activity.name}}" name="name" placeholder="Name" required autofocus>
    </div>
    <div>
        <label for="description">Description</label>
        <!-- <textarea id="description" value="{{activity.description}}" rows="20" cols="1"></textarea> -->
        <input type="text" id="description" value="{{activity.description}}" name="description" placeholder="description">
    </div>
    <div>
        <label for="duration">Duration</label>
        <input type="time" id="duration" value="{{activity.duration}}" name="duration" placeholder="duration" required>
    </div>
    <div>
        <label for="experience_level">Experience Level</label>
        <select name="experience_level" id="experience_level">
            <option value="1" {% if activity.experience_level == '1' %} selected="selected" {% endif %}>1</option>
            <option value="2" {% if activity.experience_level == '2' %} selected="selected" {% endif %}>2</option>
            <option value="3" {% if activity.experience_level == '3' %} selected="selected" {% endif %}>3</option>
        </select>
    </div>
    <div id="subdel">
        <button type="submit">Submit Edit</button>
        </form>

    <form action="/activities/{{activity.id}}/delete">
        <button id="delete_button" type="submit">Delete Activity</button>
    </form>
</div>
{% endblock %}