{% extends "base.html" %}
{% block content %}
    <div>
        <p>Name: {{activity.name}}</p>
        <p>Description: {{activity.description}}</p>
        <p>Duration: {{activity.duration}}</p>
        <p>Experience Level: {{activity.experience_level}}</p>

        <form action="/activities/{{activity.id}}/edit">
            <button type="submit">Edit</button>
        </form>

        <h3>members with Booking</h3>
        <ul>
            {% for member_with_booking in members_with_booking %}
            <li>{{ members_with_booking}}</li>
            {% endfor %}
        </ul>

{% endblock %}