html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('/static/images/main.jpg');
    background-attachment: fixed;
    background-size:100%;
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;
}

.menu {
    text-align: left;
    padding-right: 40px;
    list-style: none;
    color: #525252;
}

#welcome_title {
    color: #525252;
    text-align: right;
    padding-right: 5%;
    font-size: 1.2em;
    padding-top: 0.8%;
}

#intro_choice {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    padding-top: 5%;
}

#intro_choice li {
    padding: 4%;
    font-size: 1.5em;
    color: #525252;
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #525252;
    text-decoration: none;
}

#intro_choice li a:hover {
    font-size: larger;
    color: goldenrod;    
}

#nav_menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-top: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 0.8em;
}

#member_container, #booking_container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    float: right;
    padding-right: 30%;

}

#member_container a:hover {
    font-size: larger;
    color: goldenrod;    
}

#booking_container a:hover {
    font-size: larger;
    color: goldenrod;    
}

#overflow {
    height: 410px;
    overflow: scroll;
}

#member_title, #booking_title {
    text-align: right;
    padding-right: 31.35%;
}

#new_member, #new_booking {
    font-size: 2em;
    text-align: right;
    padding-right: 3%;
}

#new_booking a:hover {
    font-size: larger;
    color: goldenrod;
}

#new_member a:hover {
    font-size: larger;
    color: goldenrod;
}


#new_member_form, #edit_member_form {
    display: flex;
    float: right;
    padding-right: 350px;
    padding-top: 40px;
}

#show {
    color: #525252;
    text-align: right;
    padding-right: 31.35%;
    padding-top: 7%;
}
