{% extends "base.html" %}
{% block content %}

<div>
    <h2 id="new_booking"><a href="/bookings/new">New Booking</a></h2>
</div>
<h1 id="list_title">Bookings</h1>
<div id="overflow">
    <div id="list_container">
        {% for booking in bookings %}
            <p><a href="bookings/{{booking.id}}"><h1>Booking ID: {{booking.id}}</h1></a></p>
            <p>Member: {{booking.member.first_name}} {{booking.member.second_name}}</p>
            <p>Activity: {{booking.activity.name}}</p>
            <p>Instructor: {{booking.instructor.first_name}} {{booking.instructor.second_name}}</p>
            <p>Location: {{booking.location.name}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}