{% extends "base.html" %}

{% block content %}
<div id="new_form">
<form action="/bookings/new" method="post">
    <div>
        <select id="member" name="member">
            {% for member in members %}
                <option value="{{member.id}}">{{ member.first_name }} {{ member.second_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <select id="activity" name="activity">
            {% for activity in activities %}
            <option value="{{activity.id}}">{{ activity.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <select id="instructor" name="instructor">
            {% for instructor in instructors %}
                <option value="{{instructor.id}}">{{ instructor.first_name }} {{ instructor.second_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <select id="location" name="location">
            {% for location in locations %}
                <option value="{{location.id}}">{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>


    <button type="submit" value="Add Booking">Add Booking</button>
</form>
</div>

{% endblock %}