{% extends "base.html" %}

{% block content %}

<div id="new_form"> 
<form action="/instructors" method="post">
    <div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required autofocus>
    </div>
    <div>
        <label for="second_name">Second Name</label>
        <input type="text" id="second_name" name="second_name" placeholder="Second Name" required>
    </div>
    <div>
        <label for="contact_number">Contact Number</label>
        <input type="text" id="contact_number" name="contact_number" placeholder="Contact Number" required>
    </div>

    <button type="submit">Add instructor</button>
</form>
</div>

{% endblock %}