<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>GyMS</title>
</head>
<body>
<main>
  <nav>
    <ul id="nav_menu">
      <li><a href="/">Home</a></li>
      <li><a href="/activities">Activities</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/instructors">Instructors</a></li>
    </ul>
  </nav>
  <section>
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>