<!DOCTYPE html>
<html>
<head>
  <title>GyMS</title>
</head>
<body>
<main>
  <nav>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/members/new">New Member</a></li>
      <li><a href="/bookings">Bookings</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="/locations/new">New Location</a></li>
      <li><a href="/staff">Staff Details</a></li>
      <li><a href="/activities">Activities</a></li>
      <li><a href="/activities/new">New Activity</a></li>

    </ul>
    <hr>
  </nav>
  <section>
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>