<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>GyMS</title>
</head>
<body>
    <div id="welcome_title">
        <h1>Gym Management System - GyMS</h1>
        <p>The solution for all gym manangement</p>
    </div>
<main>
    <div>
        <ul id="intro_choice">
            <li><a href="/members">Members</a></li>
            <li><a href="/bookings">Bookings</a></li>
        </ul>
    </div>
</main>
</body>