{% extends "base.html" %}

{% block content %}

<form action="/locations/{{location.id}}" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" value="{{location.name}}" name="name" required autofocus>
    </div>
    <div>
        <label for="capacity">Capacity</label>
        <input type="text" id="capacity" value="{{location.capacity}}" name="capacity" placeholder="capacity" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" value="{{location.description}}" name="description" placeholder="description" required>
    </div>
    <div>
        <label for="accessible">Accessible</label>
        <select name="accessible" id="accessible">
            <option value="true" {% if location.accessible == 'true' %} selected="selected" {% endif %}>True</option>
            <option value="false" {% if location.accessible == 'false' %} selected="selected" {% endif %}>False</option>
        </select>  
    </div>


    <button type="submit">Submit Edit</button>
</form>

<form action="/locations/{{location.id}}/delete">
    <button type="submit">Delete Location</button>
</form>


{% endblock %}